{% with title='Clientes e Pets'%}
{% include 'partials/header.html' %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
    integrity="sha512-pBSlhNUvB+td6sjW1zmR6L7c7kVWR4octUPl4tfHmzO63424nxta8aLmficEcAAswQmRqTiToi63AazDurj/Sg=="
    crossorigin="anonymous"></script>
{% endwith %}

{% with tipo='Cliente' %}
{% with rota='/clientes-pet' %}
{% with rota_new='/cadastro-clientes-pet' %}
{% with user='User' %}


{% include 'partials/sidebar.html'%}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

<div > <label for="nome" style="padding-left: 49px;">{{msg}}</label></div>
<!-- Tela Novo Cliente e Pet começa aqui -->
<div class="container">
    <div class="col-md-6">
        {% if usuario %}
        {% if tipo %}
        {% if tipo == 'senha' %}
        <form method="POST" action="{{ url_for('alterar_senha', login=usuario.login) }}">
            {% elif tipo == 'tipo' %}
            <form method="POST" action="{{ url_for('alterar_tipo', login=usuario.login) }}">
                {% endif %}
                {% endif %}
                {% else %}

                <form method="POST" action="{{ url_for('alterarcliente') }}">
                    {% endif %}


    
                    <div class="mb-1">
                        <label for="nome"><strong>Dados Cliente:</strong></label>
                    </div>

                    
                    {% if id > 0 %}      
                    
                     {% for clientes in Listaclientes.clientes %}                      
                        {% if clientes.cliente.id == id %} 

                            <div class="mb-3">
                                <label for="nome">Nome Completo:</label>
                                 <input type="text" class="form-control" id="nome" name="nome" 
                                    placeholder="Digite o nome" value="{{clientes.cliente.nome}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="email">E-mail:</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Digite o e-mail"
                                    value="{{clientes.cliente.email}}" required>
                            </div>

                            <div class="mb-3">
                                <label for="cpf">CPF:</label>
                                <input type="text" class="form-control" id="cpf" {% if not usuario %}name="cpf" {% endif %}
                                    placeholder="Digite o CPF" value="{{clientes.cliente.cpf}}" required onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone:</label>
                                <input type="text" class="form-control" id="telefone" name="telefone"
                                    placeholder="Digite o telefone"
                                    value="{{clientes.cliente.telefones.telefone}}" required onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                            </div>

                            <br />
                            <div class="mb-1">
                                <label for=""><strong>Endereço</strong></label>
                            </div>

                            <div class="mb-3">
                                <label for="cep">CEP:</label>
                                <input type="text" class="form-control" id="cep" name="cep" 
                                    placeholder="Digite o cep" value="{{clientes.cliente.endereco.cep}}" required onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                            </div>
                            <div class="mb-3">
                                <label for="rua">Rua:</label>
                                <input type="text" class="form-control" id="rua" name="rua"
                                    placeholder="Digite a rua" value="{{clientes.cliente.endereco.rua}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="numero">Número:</label>
                                <input type="number" class="form-control" id="numero" name="numero"
                                    placeholder="Digite o número"
                                    value="{{clientes.cliente.endereco.numero}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="bairro">Bairro:</label>
                                <input type="text" class="form-control" id="bairro" name="bairro"
                                    placeholder="Digite o Bairro"
                                    value="{{clientes.cliente.endereco.bairro}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="cidade">Cidade:</label>
                                <input type="text" class="form-control" id="cidade" name="cidade"
                                    placeholder="Digite a Cidade"
                                    value="{{clientes.cliente.endereco.cidade}}" required>
                            </div>


                            <div class="mb-3">
                                <label for='UF'>UF:</label>
                                <select name="uf" required>
                                    <option selected disabled value="{{clientes.cliente.endereco.uf}}">Selecione</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>

                            <br />
                            <div class="mb-1">
                                <label for=""><strong>Dados PET</strong></label>
                            </div>

                            <div class="mb-3">
                                <label for='nome_pet'>Nome:</label>
                                <input type='text' class="form-control" id="nome_pet" placeholder="Digite o nome do PET"
                                    value="{{clientes.cliente.nome_pet}}" required>
                            </div>

                            <div class="mb-3">
                                <label>Espécie:</label>
                                <label for='dog'>
                                    <input type='radio' name='especie' value="1" required>Cachorro
                                </label>
                                <label for='cat'>
                                    <input type='radio' name='especie' value="2">Gato
                                </label>
                            </div>

                            <div class="mb-3">
                                <label>Porte:</label>
                                <label for='mini'>
                                    <input type='radio' name='porte'  value="Miniatura" required>Miniatura
                                </label>
                                <label for='small'>
                                    <input type='radio' name='porte'  value="Pequeno">Pequeno
                                </label>
                                <label for='medium'>
                                    <input type='radio' name='porte'  value="Médio">Médio
                                </label>
                                <label for='large'>
                                    <input type='radio' name='porte'  value="Grande">Grande
                                </label>
                                <label for='huge'>
                                    <input type='radio' name='porte'  value="Gigante">Muito Grande
                                </label>
                            </div>

                            <div class="mb-3">
                                <label for='raça'>Raça:</label>
                                <input type='text' class="form-control" id="raca" name="raca" 
                                    placeholder="Digite a raça" value="" required>
                            </div>

                            <div class="mb-3">
                                <label>Gênero:</label>
                                <label for='female'>
                                    <input type='radio' name='genero'  value="f" required>Fêmea
                                </label>
                                <label for='male'>
                                    <input type='radio' name='genero'  value="m">Macho
                                </label>
                            </div>

                            <!-- <p style="background: rgb(77, 74, 74); color: white; border-radius: 10px; text-align: center; padding: 2px; width: 85px; cursor: pointer; margin: 20px 0"
                                onclick="adicionarPet()">Salvar pet</p> -->

                            <!-- <div id="pets">

                                <div>
                                    <div className="mb-1">
                                        <label htmlFor=""><strong>Pets do cliente</strong></label>
                                    </div>
                                    <table className="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Espécie</th>
                                                <th scope="col">Porte</th>
                                                <th scope="col">Raça</th>
                                                <th scope="col">Gênero</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                                                            
                                        </tbody>
                                    </table>
                                </div>

                            </div> -->

                        {% endif %}
                        {% endfor %} 
                    {% elif id == 0 %}
                    <div class="mb-3">
                        <label for="nome">Nome Completo:</label>
                         <input type="text" class="form-control" id="nome" name="nome" 
                            placeholder="Digite o nome" value="" required>
                    </div>
                    <div class="mb-3">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Digite o e-mail"
                        value="" required>
                    </div>

                    <div class="mb-3">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control" id="cpf" {% if not usuario %}name="cpf" {% endif %}
                            placeholder="Digite o CPF" value="" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefone">Telefone:</label>
                        <input type="text" class="form-control" id="telefone" name="telefone"
                            placeholder="Digite o telefone"
                            value="" required>
                    </div>

                    <br />
                    <div class="mb-1">
                        <label for=""><strong>Endereço</strong></label>
                    </div>

                    <div class="mb-3">
                        <label for="cep">CEP:</label>
                        <input type="text" class="form-control" id="cep" name="cep" 
                            placeholder="Digite o cep" value="" required>
                    </div>
                    <div class="mb-3">
                        <label for="rua">Rua:</label>
                        <input type="text" class="form-control" id="rua" name="rua"
                            placeholder="Digite a rua" value="" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero">Número:</label>
                        <input type="number" class="form-control" id="numero" name="numero"
                            placeholder="Digite o número"
                            value="" required>
                    </div>
                    <div class="mb-3">
                        <label for="bairro">Bairro:</label>
                        <input type="text" class="form-control" id="bairro" name="bairro"
                            placeholder="Digite o Bairro"
                            value="" required>
                    </div>
                    <div class="mb-3">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade" name="cidade"
                            placeholder="Digite a Cidade"
                            value="" required>
                    </div>


                    <div class="mb-3">
                        <label for='UF'>UF:</label>
                        <select name="uf" required>
                            <option selected disabled value="" >Selecione</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>

                    <br />
                    <div class="mb-1">
                        <label for=""><strong>Dados PET</strong></label>
                    </div>

                    <div class="mb-3">
                        <label for='nome_pet'>Nome:</label>
                        <input type='text' class="form-control" id="nome_pet" name="nome_pet" placeholder="Digite o nome do PET"
                        value="" required>
                    </div>

                    <div class="mb-3">
                        <label>Espécie:</label>
                        <label for='dog'>
                            <input type='radio' name='especie' value="1" required>Cachorro
                        </label>
                        <label for='cat'>
                            <input type='radio' name='especie' value="2">Gato
                        </label>
                    </div>

                    <div class="mb-3">
                        <label>Porte:</label>
                        <label for='mini'>
                            <input type='radio' name='porte'  value="Miniatura" required>Miniatura
                        </label>
                        <label for='small'>
                            <input type='radio' name='porte'  value="Pequeno">Pequeno
                        </label>
                        <label for='medium'>
                            <input type='radio' name='porte'  value="Médio">Médio
                        </label>
                        <label for='large'>
                            <input type='radio' name='porte'  value="Grande">Grande
                        </label>
                        <label for='huge'>
                            <input type='radio' name='porte'  value="Gigante">Muito Grande
                        </label>
                    </div>

                    <div class="mb-3">
                        <label for='raça'>Raça:</label>
                        <input type='text' class="form-control" id="raca" name="raca" 
                            placeholder="Digite a raça" value="" required>
                    </div>

                    <div class="mb-3">
                        <label>Gênero:</label>
                        <label for='female'>
                            <input type='radio' name='genero'  value="f" required>Fêmea
                        </label>
                        <label for='male'>
                            <input type='radio' name='genero'  value="m">Macho
                        </label>
                    </div>
                    {%endif%}
                    
                   


                    <button type="submit" class="btn btn-primary" id="salvar"
                        style="display: block; margin: 20px auto;">Salvar</button>
                                </div>

                </form>
    </div>
    <div id="clientes-pet" style="margin-top: 100px; text-align: center; width: 90%"></div>
</div>




<script type="text/babel">
    let counter = 0;
    //const urlApi = "https://cors-anywhere.herokuapp.com/http://petshow-api.herokuapp.com";
    const urlApi = "http://petshow-api.herokuapp.com";
    let clientes = [];

    let pets = [];

    let id = -1;

    let rua = document.getElementById("rua");
    let numero = document.getElementById("numero");
    let bairro = document.getElementById("bairro");
    let cep = document.getElementById("cep");
    let cidade = document.getElementById("cidade");
    let uf = document.getElementById("uf");

    let nome = document.getElementById("nome");
    let email = document.getElementById("email");
    let cpf = document.getElementById("cpf");

    let telefone = document.getElementById("telefone");

    let nomePet = document.getElementById("nome_pet");
    let raca = document.getElementById("raca");

    const listar = async () => {
        const response = await fetch(`${urlApi}/clientes`);
        const data = await response.json();

        clientes = data;

        ReactDOM.render(
            <div>
                <h1 className="titulo">Clientes</h1>
                <table className="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Espécie</th>
                            <th scope="col">Porte</th>
                            <th scope="col">Raça</th>
                            <th scope="col">Gênero</th>
                        </tr>
                    </thead>
                    <tbody>
                        {
                            clientes.clientes.map((pet, index) => {
                                return (
                                    <tr key={index}>
                                        <td>{pet.nome}</td>
                                        <td>{pet.animal_id === 1 ? "Cachorro" : "Gato"}</td>
                                        <td>{pet.porte}</td>
                                        <td>{pet.raca}</td>
                                        <td>{pet.genero}</td>
                                    </tr>
                                );
                            })
                        }
                    </tbody>
                </table>
            </div>,
            document.getElementById("clientes-pet")
        );

        
        limparCamposUsuario();
        limparCamposPet();
    };

    function editarCliente(id, nome, cpf, email, endereco, pets, telefones) {
        console.log("teste")
    }

    function limparCamposPet() {
        nomePet.value = "";
        document.querySelector('input[name="especie"]:checked').checked = false;
        document.querySelector('input[name="porte"]:checked').checked = false;
        document.querySelector('input[name="genero"]:checked').checked = false;
        raca.value = "";
    }

    function limparCamposUsuario() {
        id = -1;
        nome.value = "";
        email.value = "";
        cpf.value = "";
        rua.value = "";
        numero.value = "";
        bairro.value = "";
        cep.value = "";
        cidade.value = "";
        uf.value = "";
        telefone.value = "";
    }

    function adicionarPet(e) {
        let pet = {
            nome: nomePet.value,
            animal_id: Number(document.querySelector('input[name="especie"]:checked').value),
            porte: document.querySelector('input[name="porte"]:checked').value,
            raca: raca.value,
            genero: document.querySelector('input[name="genero"]:checked').value
        }

        pets.push(pet);
        const tbodyEl = document.querySelector("tbody");
        const tableEl = document.querySelector("table");
        tbodyEl.innerHTML = "";
       // e.preventDefault();
                pets.map((pet, index) => {
                    tbodyEl.innerHTML += `
                            
                                    <tr name="lista_pet[${index}]" >                                         
                                                        <td>${pet.nome} <input type='hidden' name="nome_pet[${index}]" value=${pet.nome} /></td>
                                                        <td>${pet.animal_id === 1 ? "Cachorro" : "Gato"}   <input type='hidden' name="animal_id[${index}]" value=${pet.animal_id} /> </td>
                                                        <td>${pet.porte}  <input type='hidden' name="porte[${index}]" value=${pet.porte} /></td>
                                                        <td>${pet.raca} <input type='hidden' name="raca[${index}]" value=${pet.raca} /></td>
                                                        <td>${pet.genero}   <input type='hidden' name="genero[${index}]" value=${pet.genero} /></td>
                                        </tr>
                                            
                                            
                                                
                        `;
                 })
                 counter = +1;

        // ReactDOM.render(
        //     <div>
        //         <div className="mb-1">
        //             <label htmlFor=""><strong>Pets do cliente</strong></label>
        //         </div>
        //         <table className="table">
        //             <thead>
        //                 <tr>
        //                     <th scope="col">Nome</th>
        //                     <th scope="col">Espécie</th>
        //                     <th scope="col">Porte</th>
        //                     <th scope="col">Raça</th>
        //                     <th scope="col">Gênero</th>
        //                 </tr>
        //             </thead>
        //             <tbody>
        //                 {
        //                     pets.map((pet, index) => {
        //                         return (
        //                             <tr key={index}  >

                                       
        //                                 <td>{pet.nome} <input type='hidden' name="nome_pet[]" value={pet.nome} /></td>
        //                                 <td>{pet.animal_id === 1 ? "Cachorro" : "Gato"}</td>
        //                                 <td>{pet.porte}</td>
        //                                 <td>{pet.raca}</td>
        //                                 <td>{pet.genero}</td>
        //                             </tr>
        //                         );
        //                     })
        //                 }
        //                 <input type='hidden' name='pets' value={pets} />
        //             </tbody>
        //         </table>
        //     </div>,
        //     document.getElementById("pets")
            
        // );

        limparCamposPet();
    }

    // document.getElementById("salvar").onclick = async (event) => {
    //     event.preventDefault();

    //     let body = {
    //         nome: nome.value,
    //         email: email.value,
    //         cpf: cpf.value,
    //         endereco: {
    //             rua: rua.value,
    //             numero: numero.value,
    //             bairro: bairro.value,
    //             cep: cep.value,
    //             cidade: cidade.value,
    //             uf: ""
    //         },
    //         telefones: [
    //             {
    //                 telefone: telefone.value
    //             }
    //         ],
    //         pets: pets
    //     }

    //     const response = await fetch(`${urlApi}/clientes`, {
    //         method: "POST",
    //         headers: {
    //             "content-type": "application/json"
    //         },
    //         body: JSON.stringify(body)
    //     });
    //     const data = await response.json();

    //     listar();
    // }

    // window.onload = listar();
</script>

{% include 'partials/footer.html' %}