{% extends 'base.html' %}
{% with title='Pedidos'%}
{% include 'partials/header.html' %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
    integrity="sha512-pBSlhNUvB+td6sjW1zmR6L7c7kVWR4octUPl4tfHmzO63424nxta8aLmficEcAAswQmRqTiToi63AazDurj/Sg=="
    crossorigin="anonymous"></script>
{% endwith %}

{% with tipo='Pedido' %}
{% with rota='/pedidos' %}
{% with rota_new='/cadastro-pedido' %}
{% with user=user %}


{% include 'partials/sidebar.html'%}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}