{% with title='Pedidos'%}
{% include 'partials/header.html' %}
{% endwith %}




{% with tipo='Pedido' %}
{% with rota='/pedidos' %}
{% with rota_new='/pedidos' %}
{% with user='User' %}
{% include 'partials/sidebar.html'%}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

<!--link rel="stylesheet" href="../static/css/main.css"-->

{% block main %}

<div id="main-container">
 <!-- Tela Listar Usuários começa aqui -->
            <div class="container">
                <!-- Table row -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Total</th>
                                    <th>Status do Pedido</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pedido in pedidos %}
                                <tr>
                                    {% if pedido.numero == 'ativo'%}
                                    <td>{{ pedido.numero }}</td>
                                    <td>{{ cliente.nome }}</td>
                                    <td>{{ cliente.cpf }}</td>
                                    <td>{{ pedido.total }}</td>
                                    <td>{{ pedido.tipo }}</td>
                                    <td>
                                        {% if status.ativo == 'verde' %}
                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3">ativo {{status.ativo}} or inativo {{status.inativo}}</label>
                                            </div>
                                        </div>

                                        {% if status.inativo == 'vermelho' %}
                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3">ativo {{status.ativo}} or inativo {{status.inativo}}</label>
                                            </div>
                                        </div>
                                    <td>{{ pedido.data }}</td>    
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>

            {% include 'partials/footer.html' %}