{% extends 'base.html' %}
{% with title='Usuário'%}
    {% include 'partials/header.html' %}
{% endwith %}


{% with tipo='Usuário' %}
{% with rota='/usuarios' %}
{% with rota_new='/usuarios/new/' %}
{% with user=user %}
{% include 'partials/sidebar.html'%}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

            <!-- Tela Listar Usuários começa aqui -->
            <div class="container">
                <!-- Table row -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Login</th>
                                    <th>Nome</th>
                                    <th>Tipo</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    {% if user.tipo == 'gerente' or user.login == usuario.login %}
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.login }}</td>
                                    <td>{{ usuario.nome }}</td>
                                    <td>{{ usuario.tipo }}</td>
                                    <td>
                                        {% if user.tipo == 'gerente' %}
                                        <a class="btn btn-warning" href="{{ url_for('alterar_tipo', login=usuario.login) }}">
                                            Alterar Tipo
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.login == usuario.login %}
                                        <a class="btn btn-warning" href="{{ url_for('alterar_senha', login=usuario.login) }}">
                                            Alterar Senha
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>

            {% include 'partials/footer.html' %}