
{% with title='Pedidos'%}
{% include 'partials/header.html' %}
{% endwith %}



{% with tipo='Pedido' %}
{% with rota='/pedidos' %}
{% with rota_new='/pedidos/new/' %}
{% with user='User' %}
{% with pedidos=pedidos %}
{% include 'partials/sidebar.html'%}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

<!--link rel="stylesheet" href="../static/css/main.css"-->


<div id="main-container">
 <!-- Tela Listar Usuários começa aqui -->
            <div class="container">
                <!-- Table row -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pedido in pedidos %}
                                <tr>
                                    <td>{{ pedido.pedido.id }}</td>
                                    <td>{{ pedido.cliente.nome }}</td>
                                    <td>{{ pedido.cliente.cpf }}</td>
                                    {% set total = [0] %}
                                    {% for item in pedido.itens %}
                                    {% if total.append(total.pop() + item.total) %}{% endif %}
                                    {% endfor %}
                                    <td>{{ "R$ %.2f"|format(total[0]) }}</td>
                                    {% if pedido.pedido.situacao_id == 1 %}
                                    <td>{{ 'Recebido' }}</td>
                                    {% elif pedido.pedido.situacao_id == 2 %}
                                    <td>{{ 'Concluido' }}</td>
                                    {% elif pedido.pedido.situacao_id == 3 %}
                                    <td>{{ 'Cancelado' }}</td>
                                    {% endif %}
                                    <td>
                                        <a class="btn btn-warning" href="/pedidos/{{ pedido.pedido.id }}">
                                            Visualizar
                                    </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
</div>

{% include 'partials/footer.html' %}

