{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Login
{% endblock title %}


{% block main %}
<html>
  <head>
    <title>{{msg}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h2>{{msg1}}</h2>
      <h2>{{msg2}}</h2>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Usuário" name="usuario" value="{{
          request.form.usuario }}">
         <input type="senha" placeholder="SENHA" name="senha" value="{{
          request.form.senha }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Erro:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

{% endblock main %}