{% extends 'base.html' %} 
{% with title='Pedidos'%} 
{% include 'partials/header.html' %} 
{% endwith %} 
{% with tipo='Pedido' %}
{% with rota='/pedidos' %}
{% with rota_new='/pedidos' %} 
{% with user=user %}
{% include 'partials/sidebar.html'%} 
{% endwith %} 
{% endwith %} 
{% endwith %} 
{% endwith %}
{% block main %}
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Novo Pedido</h3>
    </div>
    <form {% if not pedido.id%} action="/pedidos" {% elif pedido.id!="None"%} action="/pedidos/edit/{{pedido.id}}" {% endif %} method="POST" id="register-form">
        <div class="card-body">
            <div class="col-12">
                <h5 style="text-align: center;" class="text-muted"><strong>Fazer um Pedido</strong></h5>
                <div class="form-group">
                    <label for="nome">Cliente</label>
                    <select name="cliente_id" id="cliente_id" class="form-control">
                        {% for cliente in clientes.clientes %}
                            {% if cliente.cliente.id == pedido.cliente_id %}
                                <option value="{{cliente.cliente.id}}" selected> {{cliente.cliente.nome}}-{{cliente.cliente.cpf}} </option>
                            {% endif %}
                            {% if cliente.cliente.id != pedido.cliente_id %}
                                <option value="{{cliente.cliente.id}}"> {{cliente.cliente.nome}}-{{cliente.cliente.cpf}} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <fieldset>
                        <button type="button" id="adiciona-produto" class="btn btn-primary float-right mb-3" value="Registrar">Adicionar</button>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 60%;">Produto</th>
                                    <th scope="col" style="width: 35%;">Quantidade</th>
                                    <th scope="col" style="width: 5%;">Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label for="observacao">Observação</label>
                    <input type="text" name="observacao" id="observacao" value="{{pedido.observacao}}" class="form-control"/>
                </div>
                
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock main %}