{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Produtos
{% endblock title %}


{% block main %}
    <form action="/produtos" method="POST">
        <button type="submit">Cadastrar</button>
    </form>

    <h2>Produtos</h2>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Modelo</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço custo</th>
            <th scope="col">Preço venda</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <th>{{produto.descricao}}</th>
            <td>{{produto.modelo}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.preco_custo}}</td>
            <td>{{produto.preco_venda}}</td>
            <td>{{produto.quantidade}}</td>
          </tr>
        </tbody>
        {% endfor %}
    </table>

    <a href="/produtos/delete/<id>"><i class="fas fa-trash"></i></a>

    <a href="/produtos/buscar/<id>"><i class="fas fa-pencil-alt"></i></a>
{% endblock main %}