<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <title>Novo Produto</title>
</head>

<body>
    <header class="cadastro-produtos">
        <main></main>
        <div class="header-1">
        <div class="logo">
            <img src=""/>
        </div>
        </div>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Cadastro</a></li>
                    <li><a href="">Estoque</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Suporte</a></li>
                </ul>
            </div>
            <div class="busca">
                <input placeholder="pesquisar" type="text" />
            </div>
        </div>
    </main>
    <div id="main-container">
        <h1>Novo Produto</h1> 
        <form>
            <input type="file" name="arquivos" multiple>
        </form>

        <form id="register-form">
                <div class="full-box">
                <latel for="nome-produto">Nome do Produto</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="full-box">
                <latel for="descricao">Descrição</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="half-box spacing">
                <latel for="preco-produto">Preço de Venda</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="half-box spacing">
                <latel for="modelo">Modelo do Produto</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="half-box spacing">
                <latel for="quantidADE">Quantidade</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="half-box spacing">
                <latel for="tamanho">Tamanho do Produto</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="half-box spacing">
                <latel for="Marca">Marca do Produto</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="half-box spacing">
                <latel for="animal">Para qual animal?</latel>
                <input type="text" name="name" id="name">
            </div>
            <div class="full-box">
                <input type="submit" id="btn-submit" value="Registrar">
            </div>
        </form>
    </div>
    <script src="js/scripts.js"></script>
</body>
</html>